{{- if and (.Values.admissionWebhooks.create) (.Values.admissionWebhooks.certManager.enabled) }}
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: {{ include "deployment.fullname" . }}-validating-webhook-configuration
  annotations:
    cert-manager.io/inject-ca-from: {{ .Release.Namespace }}/{{ include "deployment.fullname" . }}-serving-cert
  labels:
  {{- include "deployment.labels" . | nindent 4 }}
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: '{{ include "deployment.fullname" . }}-webhook-service'
      namespace: '{{ .Release.Namespace }}'
      path: /validate-hub-mydecisive-ai-v1-mdaicollector
  failurePolicy: Fail
  name: vmdaicollector-v1.kb.io
  rules:
  - apiGroups:
    - hub.mydecisive.ai
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - mdaicollectors
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: '{{ include "deployment.fullname" . }}-webhook-service'
      namespace: '{{ .Release.Namespace }}'
      path: /validate-hub-mydecisive-ai-v1-mdaihub
  failurePolicy: Fail
  name: vmdaihub-v1.kb.io
  rules:
  - apiGroups:
    - hub.mydecisive.ai
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - mdaihubs
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: '{{ include "deployment.fullname" . }}-webhook-service'
      namespace: '{{ .Release.Namespace }}'
      path: /validate-hub-mydecisive-ai-v1-mdaiingress
  failurePolicy: Fail
  name: vmdaiingress-v1.kb.io
  rules:
  - apiGroups:
    - hub.mydecisive.ai
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - mdaingresses
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: '{{ include "deployment.fullname" . }}-webhook-service'
      namespace: '{{ .Release.Namespace }}'
      path: /validate-hub-mydecisive-ai-v1-mdaiobserver
  failurePolicy: Fail
  name: vmdaiobserver-v1.kb.io
  rules:
  - apiGroups:
    - hub.mydecisive.ai
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - mdaiobservers
  sideEffects: None

{{- end }}